* {
    box-sizing: 0;
    padding: 0;
    margin: 0;
}

body {
    background-image: url(https://images.unsplash.com/photo-1617108126666-3b4f0251913a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGJhY2tncm91bmQlMjBpbWFnZSUyMG9mJTIwZnJ1aXRzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60,no-repeat);
}

div {
    padding: 50px;
    margin: 20px;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

input {
    width: 50%;
}

.flashes h4 {
    line-height: 2;

}

div~p {
    background-color: rgb(147, 147, 101);
}

.toggle {
    display: -ms-flexbox -moz-box -moz-inline-flex -webkit-flex;
}

.background-image {
    background: url("static/images/juice.jpg");
    background-size: cover;
    font-family: Roboto;
    background-position: auto;
}

ul li :hover ul li {
    display: block;
}

@media #{$medium-and-down} {
    // styles for medium screens and down
}