body {}

.col-md-5 img {
    width: 100%
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;

}

.image {
    size: 2600px;
}

.text {
    display: flex !important;
    padding: 0 40px;
    background-color: azure;
    height: 80;
    align-item: center;
    letter-spacing: 3px;
    color: #0f979b;
}

.btn-small {
    margin: 5px;

        {
        text {
            color: #000;
        }
    }
}

.collapsible-header .col strong {
    margin: 15px;
    margin-top: 15px;
    margin-bottom: 25px line-height: 42px;
}