{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Edit Recipes</h3>

<div class="row card-panel grey lighten-5">

   <form class="col s12" method="POST" action="{{ url_for('edit_recipes', recipes_id=recipes._id) }}">
      <!-- category selection -->
      <div class="row">
         <div class="input-field col s12">
            <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
            <select id="category_name" name="category_name" class="validate" required>
               <option value="" disabled selected>Choose Category</option>
               {% for category in categories %}
               <option value="{{ category.category_name }}">{{ category.category_name }}</option>
               {% endfor %}
            </select>
            <label for="category_name">Frubbiee category</label>
         </div>
      </div>
      <!-- drink name -->
      <div class="row">
         <div class="input-field col s12">
            <i class="fas fa-pen prefix light-leal-text text-darken-4 "></i>
            <input id="drink_type" name="drink_type" minlenght="5" maxlength="50" type="text" class="validate" required>
            <label for="drink_type">Drink Type</label>
         </div>
      </div>
      <!-- smoothie name -->
      <div class="row">
         <div class="input-field col s12">
            <i class="fas fa-align-left prefix light-teal-text text-darken-4 "></i>
            <textarea id="smoothie_name" name="smoothie_name" class="materialize-textarea validate" required></textarea>
            <label for="smoothie_name">Smoothie name</label>
         </div>
      </div>
      <!-- recipe -->
      <div class="row">
         <div class="input-field col s12">
            <i class="fas fa-align-left prefix light-teal-text text-darken-4 "></i>
            <textarea id="recipe_descpription" name="recipe_description" class="materialize-textarea validate"
               required></textarea>
            <label for="recipe_description">Recipe description</label>
         </div>
      </div>
      <!-- prep time -->
      <div class="row">
         <div class="input-field col s12">
            <i class="fas fa-clock-alt prefix light-leal-text text-darken-4 "></i>
            <label for="pre_time">Prep time</label>
            <input id=" prep_time" type="text" name="prep_time" class="timepicker">
         </div>
      </div>
      <!-- my favourite option -->
      <div class="row">
         <div class="input-field col s12">
            <div class="switch">
               <i class="fas fa-exclamation-circle prefix light-teal-text text-darken-4 "></i>
               <label for="favourite">
                  My Favoutite
                  <label>
                     <input id=" my_favourite" type="checkbox" name="my_favourite" action="" />
                     <span class="lever"></span>
                  </label>
            </div>
         </div>
      </div>
      <!-- submit button -->
      <div class="row">
         <div class="col s12 center-align">
            <button type="Submit" class="btn-large light-teal darken-1 text-shadow">
               <i class="fas fa-edit left">Edit Recipe</i>
            </button>
         </div>
      </div>
   </form>
</div>

{% endblock %}