{% extends "base.html" %}
{% block content %}

<h2>{{page_title}}</h2>

<subheading>

    {{Frubbiee}}
    <div>
        <div class="row">
            <div class="col s12 m6">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Card Title</span>

                        <div id="home">
                            <h1>Welcome to Frubbiee Juices and Smoothies!</h1>
                            <p>Get a fresh taste of fresh drinks .</p>
                        </div>

                        <hr>

                        <a href="#home">Home</a>
                        <a href="#drinks">Drinks Menu</a>
                        <a href="#contact">Contact</a>

                        <div>
                            <h2>Reasons to love us</h2>
                            <ol type="I">
                                <li>Free unlimited wifi</li>
                                <li>Easy to digest nutrition on the go</li>
                                <li>They're full of nutrients, minerals, antioxidants, healthy oils, fiber and protein
                                </li>
                            </ol>
                        </div>

                        <img src=>

                        <div id="drinks">
                            <h2>Frubbiee Juices & Smoothies</h2>

                            <div>
                                <div>
                                    <h3>Fruibbiee Juices & Smoothies </h3>
                                    <div>
                                        <h3>Smoothies</h3>
                                        <ul>
                                            <li>Berry Smoothies</li>
                                            <li>Green Smoothies</li>
                                            <li>Fitness smoothies</li>
                                            <li>Kids Smoothies</li>
                                        </ul>
                                    </div>
                                    <div>
                                        <h3>Fruibbiee Juices</h3>
                                        <ul>
                                            <li>Fruit Juice</li>
                                            <li>Green Drinks</li>
                                            <li>Berries Juice</li>
                                            <li>Kids Drink</li>
                                        </ul>
                                    </div>

                                    <div>
                                        <h3>Frubbiee Juices & Smoothies </h3>
                                        <!-- Add your list here -->


                                    </div>
                                </div>

                                <div id="contact">
                                    <h2>Contact</h2>

                                    <h3>Open times</h3>

                                    <h3>Get in touch</h3>

                                    <div>
                                        <span style="font-weight: bold;">Phone: </span>
                                        <span>012 345 678 910</span>
                                    </div>
                                    <div>
                                        <span style="font-weight: bold;">Email: </span>
                                        <span>email@fruibbiee.com</span>
                                    </div>


                                    <h3>Address</h3>
                                    <p>Frubbiee,<br>Active street,<br>Dublin</p>
                                </div>

                                <a href="https://www.facebook.com" target="_blank" rel="noopener">Find us on
                                    Facebook</a>
                                <a href="https://www.instagram.com" target="_blank" rel="noopener">Find us on
                                    Instagram</a>
                                <a href="https://www.twitter.com" target="_blank" rel="noopener">Find us on Twitter</a>
                                </body>

                                <div class="card-action">
                                    <a href="#">This is a link</a>
                                    <a href="#">This is a link</a>
                                </div>
                            </div>
                        </div>
                    </div>






                    <div class="row">
                        <div class="col s12 m6">
                            <div class="card blue-grey darken-1">
                                <div class="card-content white-text">
                                    <span class="card-title">Card Title</span>
                                    <p>I am a very simple card. I am good at containing small bits of information.
                                        I am convenient because I require little markup to use effectively.</p>
                                </div>
                                <div class="card-action">
                                    <a href="#">This is a link</a>
                                    <a href="#">This is a link</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6">
                            <div class="card blue-grey darken-1">
                                <div class="card-content white-text">
                                    <div class="progress">
                                        <div class="indeterminate"></div>
                                    </div>
                                    <span class="card-title">Card Title</span>
                                    <p>I am a very simple card. I am good at containing small bits of information.
                                        I am convenient because I require little markup to use effectively.</p>
                                </div>
                                <div class="card-action">
                                    <a href="#">This is a link</a>
                                    <a href="#">This is a link</a>
                                </div>
                            </div>
                        </div>
                    </div>




                    <h4>Types of Smoothies</h4>


                    <subheading>




                        <div class="row">
                            <p>

                                Like the first sighting of a robin, a pale green minty Shamrock Shake is an annual
                                reminder that spring
                                is on its way. And when you make a homemade version of this fast-food favorite with real
                                ice cream, milk
                                and a refreshing hint of peppermint, you'll feel even more invigorated for the change of
                                season. It's
                                magically delicious that way!

                                <div class="post-preview">
                                    <a href="post.html">
                                        <h2 class="post-title">
                                            Smoothies
                                        </h2>
                                        <h3 class="post-subtitle">
                                            Craving for something more, these healthy drinks will give you a boost of
                                            nutrition.
                                        </h3>
                                    </a>
                                    <p class="post-meta">Start your day refreshed with a drink of fresh juices and
                                        smoothies. .
                                        <a href="#">Frubbiee</a>
                                        fresh & tasty, 2021</p>
                                </div>
                                <hr>

                                Green tea is a popular source of antioxidants. You can add matcha green tea powder to
                                make your
                                smoothies rich in antioxidants, and these will help prevent a lot of diseases. Grapes,
                                berries
                                and sweet potatoes are natural sources of antioxidants.
                            </p>
                            <div class="post-preview">
                                <a href="post.html">

                                    <h2 class="post-title">
                                        Antitoxic Smoothies
                                    </h2>

                                    <h3 class="post-subtitle">
                                        Craving for something more, these healthy drinks will give you a boost of
                                        nutrition.
                                    </h3>
                                </a>
                                <div class="col-md-7 s12">
                                    <img width="650" src="static/img/5.jpg">
                                </div>
                                <p class="post-meta">Start your day refreshed with a drink of fresh juices and
                                    smoothies. .
                                    <a href="#">Frubbiee</a>
                                    fresh & tasty, 2021</p>
                            </div>
                            <hr>

                            <div class="col-md s12">
                                <p> Whipped frozen lemonade combines the creaminess of a milkshake with the
                                    thirst-quenching
                                    tanginess of freshly squeezed lemonade for an incredibly refreshing treat. And Use
                                    ripe
                                    bananas for this creamy Greek yogurt, spinach and pineapple smoothie. Chia seeds add
                                    healthy
                                    omega-3 fats, fiber and a little protein for an extra nutritional boost.
                                </p>
                                <div class="col-md-7 s12">
                                    <img width="650" src="static/img/5.jpg">
                                </div>
                                <p class="post-meta">Start your day refreshed with a drink of fresh juices and
                                    smoothies. .
                                    <a href="#">Frubbiee</a>
                                    fresh & tasty, 2021</p>
                            </div>
                            <hr>

                            <p>
                                This easy fruit smoothie with yogurt recipe calls for just three ingredients--yogurt,
                                fruit
                                juice and whatever frozen fruit you have on hand. Mix up your combinations from day to
                                day for a
                                healthy breakfast or snack you'll never get bored with.
                            </p>
                            <div class="col-md-7 s12">
                                <img width="650" src="static/img/5.jpg">
                            </div>
                            <p class="post-meta">Start your day refreshed with a drink of fresh juices and smoothies. .
                                <a href="#">Frubbiee</a>
                                fresh & tasty, 2021</p>
                        </div>
                        <hr>

                </div>
                {% endblock %}