{% extends "base.html" %}
{% block content %}

<h2>{{page_title}}</h2>
{{Frubbiee}}
<subheading>
    <h4>Types of Smoothies</h4>


    <subheading>
        <div class="row">
            <p>

                Like the first sighting of a robin, a pale green minty Shamrock Shake is an annual reminder that spring
                is on its way. And when you make a homemade version of this fast-food favorite with real ice cream, milk
                and a refreshing hint of peppermint, you'll feel even more invigorated for the change of season. It's
                magically delicious that way!
                <div class="col s12 m4 l3">
                    <!-- Note that "m4 l3" was added -->
                    <!-- Grey navigation panel
              This content will be:
          3-columns-wide on large screens,
          4-columns-wide on medium screens,
          12-columns-wide on small screens  -->

                </div>

                <div class="col s12 m8 l9">
                    <!-- Note that "m8 l9" was added -->
                    <!-- Teal page content
              This content will be:
          9-columns-wide on large screens,
          8-columns-wide on medium screens,
          12-columns-wide on small screens  -->

                    <p>
                        <div class="post-preview">
                            <a href="post.html">
                                <h2 class="post-title">
                                    Smoothies
                                </h2>
                                <h3 class="post-subtitle">
                                    Craving for something more, these healthy drinks will give you a boost of nutrition.
                                </h3>
                            </a>
                            <p class="post-meta">Start your day refreshed with a drink of fresh juices and smoothies. .
                                <a href="#">Frubbiee</a>
                                fresh & tasty, 2021</p>
                        </div>
                        <hr>

                        Green tea is a popular source of antioxidants. You can add matcha green tea powder to make your
                        smoothies rich in antioxidants, and these will help prevent a lot of diseases. Grapes, berries
                        and sweet potatoes are natural sources of antioxidants.
                    </p>
                    <div class="post-preview">
                        <a href="post.html">

                            <h2 class="post-title">
                                Antitoxic Smoothies
                            </h2>

                            <h3 class="post-subtitle">
                                Craving for something more, these healthy drinks will give you a boost of nutrition.
                            </h3>
                        </a>
                        <div class="col-md-7 s12">
                            <img width="650" src="static/img/5.jpg">
                        </div>
                        <p class="post-meta">Start your day refreshed with a drink of fresh juices and smoothies. .
                            <a href="#">Frubbiee</a>
                            fresh & tasty, 2021</p>
                    </div>
                    <hr>

                    <div class="col-md s12">
                        <p> Whipped frozen lemonade combines the creaminess of a milkshake with the thirst-quenching
                            tanginess of freshly squeezed lemonade for an incredibly refreshing treat. And Use ripe
                            bananas for this creamy Greek yogurt, spinach and pineapple smoothie. Chia seeds add healthy
                            omega-3 fats, fiber and a little protein for an extra nutritional boost.
                        </p>
                        <div class="col-md-7 s12">
                            <img width="650" src="static/img/5.jpg">
                        </div>
                        <p class="post-meta">Start your day refreshed with a drink of fresh juices and smoothies. .
                            <a href="#">Frubbiee</a>
                            fresh & tasty, 2021</p>
                    </div>
                    <hr>

                    <p>
                        This easy fruit smoothie with yogurt recipe calls for just three ingredients--yogurt, fruit
                        juice and whatever frozen fruit you have on hand. Mix up your combinations from day to day for a
                        healthy breakfast or snack you'll never get bored with.
                    </p>
                    <div class="col-md-7 s12">
                        <img width="650" src="static/img/5.jpg">
                    </div>
                    <p class="post-meta">Start your day refreshed with a drink of fresh juices and smoothies. .
                        <a href="#">Frubbiee</a>
                        fresh & tasty, 2021</p>
                </div>
                <hr>

        </div>
        {% endblock %}