{% extends "base.html" %}
{% block content%}
<div class="container inline-block responsive">

    <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Frubbiee Smoothie images</h1>

    <hr class="mt-2 mb-5">

    <div class="row ">

        <div class="m3 s12 col-md-12">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail"
                    src="https://images.unsplash.com/photo-1589734580748-6d9421464885?ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8c21vb3RoaWV8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                    alt="Strawberry smoothie">
                <label for="strawberry smoothie">Strawberry Smoothie</label>
            </a>
        </div>

        <div class="m3 s12 col-md-12">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail"
                    src="https://media.istockphoto.com/photos/healthy-appetizing-red-smoothie-dessert-in-glasses-picture-id1081369140?k=6&m=1081369140&s=612x612&w=0&h=FQaF-nWUJ4nO0H-k5lrlNj1SGloF4SnDePTxdDSRUds="
                    alt="Mixed berries smoothie">
                <label for="Mixedberry smoothie">Mixed berry Smoothie</label>
            </a>
        </div>
        <div class="m3 s12 col-md-12">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail"
                    src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/3._healthy_ingredients_for_smoothie-b0c5bd6.jpg?quality=90&resize=960,872"
                    alt="kale smoothie">
                <label for="Kale smoothie">Kale Smoothie</label>
            </a>
        </div>

        <div class="m3 s12 col-md-12">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail"
                    src="https://images.unsplash.com/photo-1553530666-ba11a7da3888?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c21vb3RoaWV8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                    alt="Mixed berry smoothies">
                <label for="mixed berry smoothie">Mixed berry Smoothie</label>
            </a>
        </div>

        <div class="m3 s12 col-md-12">
            <a href="#" text="Kids smoothie" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail"
                    src="https://media.istockphoto.com/photos/raspberry-smoothies-and-raspberry-fruit-on-the-concrete-background-picture-id1165901530?k=6&m=1165901530&s=612x612&w=0&h=lTD1JB_C1TKA0yQ2GszOKx6AXC9GMEAROqNdJ1B3CZQ="
                    alt="Rasberry smoothie">
                <label for="Raspberry smoothie">Raspberry Smoothie</label>
            </a>
        </div>
    </div>

</div>

{% endblock %}