{% extends "base.html" %}
{% block content %}

<h3 class="light-black-text text-darken-4 center-align">Images</h3>

<div class="row ">
    <div class="col s12 center-align">
        <a href="{{url_for('gallery')}}" class="btn-large light-cyan darken-2 text-shadow">
            Add category <i class="fas fa-plus-square right"></i>
        </a>

    </div>
</div>

<div class="row ">
    <div class="col s12 center-align">
        <a href="#" class="btn-large light-black darken-2 text-shadow right">
            Add Images <i class="fas fa-plus-square right"></i>
        </a>
    </div>
</div>
{% endblock%}