{% extends "base.html" %}
{% block content %}

<h3 class="light-cyan-text text-darken-4 center-align">Frubbiee drinks</h3>

<ul class="collapsible">
    {% for images in images %}
    <li>
        <div class="collapsible-header white-text    teal lighten-3 text-shadow">
            <div class="col s3">
                <i class="fas fa-caret-down"></i>
                {% if session.user|lower == recipes.created_by|lower %}
                <a href="{{ url_for('images', images_id=images._id) }}" class="btn-small green accent-4">upload</a>

                {% endif %}
            </div>
            <div class="col s12">
                <strong>{{images.filename}}</strong> : <strong>{{images.like}}</strong>
                {% if images.like == "on" %}
                <i class="fas fa-exclamation-circle cyan accent-2 text-lighten-2 tooltipped" data-position="right"
                    data-tooltip="My favourite"></i>
                {% endif%}
            </div>
        </div>
        <div class="collapsible-body col-8">
            <p><strong>{{ images.filename}}</strong></p><br>
            <strong> {{images.comment}}</strong><br>
            <p><strong>Ingredients:{{images.like}}</strong></p><br>
            <p><strong> {{images.created_by}}</strong> </p><br>
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}