{% extends "base.html" %}
{% block content %}


<body action="{{ url_for('index') }}"></body>
<a href="#" class="brand-logo blue-text left truncate">Frubbiee Fruity</a>
<div class="container-fluid">
    <p></p>
    <ul id="slide-out" class="sidenav">
        <li>
            <div class="user-view">
                <div class="background">
                    <img src="images/cherry.jpg">
                </div>
                <a href="#user"><img class="circle" src="images/juice.jpg"></a>
                <a href="#name"><span class="white-text name">John Doe</span></a>
                <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
            </div>
        </li>
        <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
        <li><a href="#!">Second Link</a></li>
        <li>
            <div class="divider"></div>
        </li>
        <li><a class="subheader">Subheader</a></li>
        <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
    </ul>
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>

    <div id="container">
        <nav class="nav-extended white pushpin z-depth-3">
            <div>

                <ul class="slides">
                    <li>
                        <img src="https://lorempixel.com/580/250/nature/1"> <!-- random image -->
                        <div class="caption center-align">
                            <h3>This is our big Tagline!</h3>
                            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                        </div>
                    </li>
                    <li>
                        <img src="https://lorempixel.com/580/250/nature/2"> <!-- random image -->
                        <div class="caption left-align">
                            <h3>Left Aligned Caption</h3>
                            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                        </div>
                    </li>
                    <li>
                        <image src="{{url_for('static',filename='images/smoothie.jpg')}} ">
                            <!-- random image -->
                            <div class="caption right-align">
                                <h3>Right Aligned Caption</h3>
                                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                            </div>
                    </li>
                    <li>
                        <img src=""> <!-- random image -->
                        <div class="caption center-align">
                            <h3>This is our big Tagline!</h3>
                            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                        </div>
                    </li>

                </ul>

                {{ template}}
                <div class="post-preview">
                    <a href="post.html">

                        <h2 class="post-title">
                            Antitoxic Smoothies
                        </h2>

                        <h3 class="post-subtitle">
                            Craving for something more, these healthy drinks will give you a boost of
                            nutrition.
                        </h3>
                    </a>
                    <div class="col-md-7 s12">
                        <img width="650" src="static/img/juice.png">
                    </div>
                    <p class="post-meta">Start your day refreshed with a drink of fresh juices and
                        smoothies. .
                        <a href="#">Fribbiee drinks</a>
                        fresh & tasty, 2021</p>
                </div>
                <hr>
                {% endblock %}