{% extends "base.html" %}
{% block content %}

<form class="col s12 m8 offset-m2cyan lighten-5" method="POST" action="{{ url_for('posts') }}">
    <title>Frubbie Drinks</title>
    <div class="row">
        <div class="input-field col s12">
            <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
            <label>Frubbiee category</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <div class="switch">
                <i class="fas fa-exclamation-circle prefix light-teal-text text-darken-4 "></i>
                <label for="my_favourite">
                    {% if categories.my_favourite == "on" %}
                    <label for="my_favourite">
                        <input id=" my_favourite" type="checkbox" name="my_favourite" checked>
                        {% else%}
                        <input id="my_favourite" type="checkbox" name="my_favourite">
                        {% endif %}
                        <span class="lever"></span>
                        My Favoutite
                    </label>
            </div>
        </div>
        <images scr=" {{url_for('posts')}}">
            <h3 class="light-black-text text-darken-4 center-align">Post Frubbie Drinks</h3>
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-preview">
                        <a href="posts.html">
                            <h2 class="post-title">
                                Smoothies
                            </h2>
                            <h3 class="post-subtitle">
                                Craving for something more, these healthy drinks will give you a boost of nutrition.
                            </h3>
                            <div class="input-field col s12">
                                <i class="fas fa-align-gears prefix light-teal-text text-darken-4 "></i>
                                <textarea id=" category_name" name="category_name" minlength="5" maxlength="200"
                                    class="materialize-textarea validate" required>{{category.category_name}}</textarea>
                                <label for="category_name">Type of Fruit drink</label>
                            </div>
                        </a>
                        <p class="post-meta">Start your day refreshed with a drink of fresh juices and smoothies. .
                            <a href="#">Frubbiee</a>
                            fresh & tasty, 2021</p>
                        <div class="input-field col s12">
                            <i class="fas fa-align-gears prefix light-teal-text text-darken-4 "></i>
                            <textarea id="category_name" name="category_name" minlength="5" maxlength="200"
                                class="materialize-textarea validate" required>{{categories.categories_name}}</textarea>
                            <label for="categories_name">Type of Green drinks</label>
                        </div>

                    </div>
                    <hr>
                    <div class="post-preview">
                        <a href="posts.html">
                            <h2 class="post-title">
                                Fresh juice.
                            </h2>
                        </a>
                        <div class="input-field col s12">
                            <i class="fas fa-align-gears prefix light-teal-text text-darken-4 "></i>
                            <textarea id="categories_name" name="categories_name" minlength="5" maxlength="200"
                                class="materialize-textarea validate" required>{{categories.categories_name}}</textarea>
                            <label for="categories_name">Type of detox drinks</label>
                        </div>
                        <p class="post-meta">Posted by
                            <a href="#">Frubbiee</a>
                            fresh & tasty, 2021</p>
                    </div>
                    <div class="input-field col s12">
                        <i class="fas fa-align-gears prefix light-teal-text text-darken-4 "></i>
                        <textarea id="categories_name" name="categories_name" minlength="5" maxlength="200"
                            class="materialize-textarea validate" required>{{categories.categories_name}}</textarea>
                        <label for="categories_name">Type of kids drinks</label>
                    </div>
                    <hr>
                    <div class="post-preview">
                        <a href="posts.html">
                            <h2 class="post-title">
                                Fitness and wellness drinks
                            </h2>
                            <h3 class="post-subtitle">

                            </h3>
                        </a>
                        <p class="post-meta">Posted by
                            <a href="#">Frubbiee</a>
                            fresh & tasty, 2021</p>
                    </div>
                    <div class="input-field col s12">
                        <i class="fas fa-align-gears prefix light-teal-text text-darken-4 "></i>
                        <textarea id="categories_name" name="categories_name" minlength="5" maxlength="200"
                            class="materialize-textarea validate" required>{{categories.categories_name}}</textarea>
                        <label for="categories_name">Type of healthy drinks</label>
                    </div>
                    <hr>
                    <div class="post-preview">
                        <a href="posts.html">
                            <h2 class="post-title">
                                Kids Drinks
                            </h2>
                            <h3 class="post-subtitle">

                            </h3>
                        </a>
                        <div class="input-field col s12">
                            <i class="fas fa-align-gears prefix light-teal-text text-darken-4 "></i>
                            <textarea id="categories_name" name="categories_name" minlength="5" maxlength="200"
                                class="materialize-textarea validate" required>{{categories.categories_name}}</textarea>
                            <label for="categories_name">Type of special drinks</label>
                        </div>
                        <p class="post-meta">Posted by
                            <a href="#">Frubbiee</a>
                            fresh & tasty</p>
                    </div>
                    <hr>
                    <!-- Pager -->
                    <div class="input-field col s12">
                        <i class="fas fa-align-gears prefix light-teal-text text-darken-4 "></i>
                        <textarea id="recipes.created_by" name="recipes.created_by" minlength="5" maxlength="200"
                            class="materialize-textarea validate" required>{{ recipes.created_by}}</textarea>
                        <label for="type_of_equipments">created by</label>
                    </div>
                    <div class="clearfix">
                        <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
                    </div>
                </div>
            </div>
            <button class="waves-effect waves-light btn-large" type="post" name="action">Post
                <i class="material-icons right">Post</i>
            </button>

            {% endblock %}