{% extends "base.html" %}
{% block content %}


<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card-panel ">
            <h3 class="center-align  cyan-lighten-3 text-darken-4">
                {{ username }}'s Profile
            </h3>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
            <a href="post.html">
                <h2 class="post-title">
                    Smoothies
                </h2>
                <h3 class="post-subtitle">
                    Craving for something more, these healthy drinks will give you a boost of nutrition.
                </h3>
            </a>
            <p class="post-meta">Start your day refreshed with a drink of fresh juices and smoothies. .
                <a href="#">Frubbiee</a>
                fresh & tasty, 2021</p>
        </div>
        <hr>
        <div class="post-preview">
            <a href="post.html">
                <h2 class="post-title">
                    Fresh juice.
                </h2>
            </a>
            <p class="post-meta">Posted by
                <a href="#">Frubbiee</a>
                fresh & tasty, 2021</p>
        </div>
        <hr>
        <div class="post-preview">
            <a href="post.html">
                <h2 class="post-title">
                    Fitness and wellness drinks
                </h2>
                <h3 class="post-subtitle">
                    We predict too much for the next year and yet far too little for the next ten.
                </h3>
            </a>
            <p class="post-meta">Posted by
                <a href="#">Frubbiee</a>
                fresh & tasty, 2021</p>
        </div>
        <hr>
        <div class="post-preview">
            <a href="post.html">
                <h2 class="post-title">
                    Kids Drinks
                </h2>
                <h3 class="post-subtitle">
                    Sure, water is the smartest drink out there, but sometimes its ok to have a little treat.
                </h3>
            </a>
            <p class="post-meta">Posted by
                <a href="#">Frubbiee</a>
                fresh & tasty</p>
        </div>
        <hr>
        <!-- Pager -->
        <div class="clearfix">
            <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
    </div>
</div>

{% endblock %}