{% extends "base.html" %}
{% block content %}


<div class="row">
    <div class="col s12 m12 offset-m2">
        <div class="card-panel">
            <h3 class="center-align light-blue-text text-darken-4">
                {{ username }}'s Profile
            </h3>
        </div>

        <div class="row">
            <div class="col s12 m12 offset-m2">

                <div class="col-md-12 mb-6">
                    <div class="card border-0 shadow">
                        <img src="https://images.unsplash.com/photo-1544619371-2aacd756277d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDh8fHNtb290aGllfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                            class="card-img-top" alt="...">
                        <div class=" text-center">
                            <h5 class="card-title mb-0">Ice-Cream and marshmallow smoothie</h5>
                            <div class="card-text text-black-50">Considered as a treat</div>
                            <p> How to make the smoothie:</p>
                            On a foil-lined baking sheet,
                            toast marshmallows under a broiler, turning as necessary, until all sides are golden brown.
                            Just as the marshmallows are finishing up, put ice cream and milk in the blender.
                            Pour shake into a glass and top with some whipped cream and some crushed graham crackers.
                        </div>
                    </div>
                </div>
                <!-- Team Member 2 -->
                <div class=" col-md-12 mb-6">
                    <div class="card border-0 shadow">
                        <img src="https://images.unsplash.com/photo-1596392301391-e8622b210bd4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8c21vb3RoaWV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                            class="card-img-top" alt="...">
                        <div class="card-body text-center">
                            <h5 class="card-title mb-0">Pineapple smoothie</h5>
                            <div class="card-text text-black-50">Detox drink</div>
                            <p> How to make the smoothie:</p>
                            To make this smoothie, you’ll need to start with frozen pineapple.
                            I buy it frozen at the store, but you can also freeze your own by cutting it into chunks and
                            freezing
                            it flat on a lined baking sheet. (Similar to my tutorial on frozen watermelon,
                            if you want to check that out for reference.
                        </div>
                    </div>
                </div>
            </div>
        </div>


        {% endblock %}