{% extends "base.html" %}
{% block content %}

<h2> I'm Extending the base template!</h2>

{% for recipes in recipes %}
{{recipes.category_name}}<br>
{{recipes.drink_name}}<br>
{{recipes.smoothie_type}}<br>
{{recipes.description}}<br>
{{recipes.recipe}}<br>
{{recipes.update_recipe}}<br>
{{recipes.prep_time}}<br>
{{recipes.is_favourite}}<br>
{{recipes.total_time}}<br>
{% endfor %}

<ul class="collapsible">
    {% for recipes in recipes %}
    <li>
        <div class="collapsible-header black-text  teal lighten-3 lighten-3">
            <i class="fas fa-caret-down"></i>
            <strong>{{recipes.category_name}}</strong> :
            <strong>{{recipes.category_name}}</strong> :
            <strong>{{recipes.description}}</strong>
        </div>
        <div class="collapsible-body">
            <strong>{{recipes.smoothie_type}}</strong>
            <p>{{recipes.recipe}}</p>
            <p>{{recipes.prep_time}}</p>
            <p>{{recipes.update_recipe}}<br></p>
            <p>
                <p>{{recipes.date}}</p>
            </p>
            <div class="button  btn-lighten-3">
                {% if recipes.is_favourite == "on" %}
                <i class="fas fa-exclamation-circle light-blue-text text-lighten-2 tooltipped" data-positiob="right"
                    data-tooltip="My favourite"></i>
            </div>
            {% endif%}

        </div>
    </li>
    {% endfor %}
</ul>
</div>

{% endblock %}