{% extends "base.html" %}
{% block content %}
{% block title %}Fresh and tasty {%endblock %}
{% block main%}

<h3 class="light-grey-text  center-align">Upload file!</h3>
<div class="container">
    <div class="col">
        <h1>Upload image</h1>
        <form action="/upload-image" method="POST" enctype="multipart/form-data">

            <div class="form-group">
                <label class=" black text .5rem"></label>select image</label>
                <div class="custom-file">
                    <input oninput="filename(this);" type="file" class="white-text custom-file-input" name="image"
                        id="image">
                    <label class="custom-file-label grey lighten-4" for="image">Select image...</label>
                </div>
            </div>
            <button href="{{url_for('upload_images') }}" class="cyan btn btn-outline-blue"
                type="submit">upload-image</button>
        </form>
        <hr>
        <image src="{{url_for('static',filename = 'images/download.jpg')}}">
            <!--filename  = "path of your image in in static folder"-->
    </div>
</div>
{% endblock %}
{% endblock %}

{% block script %}
<script>
    function filesize(elem) {

        document.cookie = `filesize = ${elem.files[0].size}`;
    }
</script>



{% endblock%}