{% extends  'base.html' %}
{% block content%}


<h3 class="light-cyan-text text-darken-4 center-align">Frubbiee drinks</h3>
<a href="{{ url_for('upload',images_id=images._id) }}" value="{{images.images_id}}"
  class="btn-small light-cyan lighten-1">upload images</a>
<ul class="collapsible">
  {% for filename in filename %}
  <li>
    <div class="collapsible-header black-text    teal lighten-3 text-shadow">
      <div class="col s3">
        <i class="fas fa-caret-down"></i>
        {% if session.user|lower == images.created_by|lower %}
        <a href="{{ url_for('images', images_id=images._id) }}" class="btn-small green accent-4">Done</a>
        <a href="{{ url_for('images', images_id=images._id) }}" class="btn-small light-cyan lighten-1">upload images</a>
        {% endif %}
      </div>
      <div class="col s12">
        <strong>{{images.file_name}}</strong> : <strong>{{images.like}}</strong>
        {% if images.like == "on" %}
        <i class="fas fa-exclamation-circle cyan accent-2 text-lighten-2 tooltipped" data-position="right" value=""
          data-tooltip="like"></i>
        {% endif%}
      </div>

    </div>
    <div class="collapsible-body col-8">
      <p><strong>{{ images.filename}}</strong></p><br>
      <strong> {{images.comment}}</strong><br>
      <p><strong>Ingredients:{{images.comment}}</strong></p><br>
      <p><strong> {{images.like}}</strong> </p><br>
      <p><strong> {{images.created_by}}</strong> </p><br>
    </div>

  </li>
  {% endfor %}


  <body>

    <h1>Upload Yrecipes</h1>

    <form action="/" method="POST" enctype="multipart/form-data">

      <label for="user_file">Upload Your File</label>
      <br></br>
      <input type="file" name="user_file">
      <br></br>
      <button type="submit">Upload</button>

    </form>

  </body>
  % endfor %
  {% endblock %}